<ion-content>
  <ion-grid>

    <ion-row *ngFor="let clubValencia of clubs">
      <ion-col>
        <div>{{ clubValencia.name }}  </div>
      </ion-col>
      <ion-col>
        <img src="{{ clubValencia.pictureUrl}}" > <br>
      </ion-col>
      <ion-col>
        <div><span> {{ clubValencia.description }} </span></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col col-6="">
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6="">
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>